[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Epic Pinball
Icon={{ icon_dir }}/epic_pinball.png
Path={{ base_dir }}
Exec=dosbox -conf {{ dosbox_conf }} -conf {{ base_dir }}/config/epic_pinball.conf
