[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Screamer 2
Icon={{ icon_dir }}/screamer_2.png
Path={{ base_dir }}
Exec=dosbox -conf {{ dosbox_conf }} -conf {{ base_dir }}/config/screamer_2.conf
