[atlantis]
platform=pc
gameid=atlantis
description=Indiana Jones and the Fate of Atlantis (CD/DOS/English)
language=en
extra=CD
path=/home/eric/.scummvm/atlantis
enable_enhancements=true
engineid=scumm
guioptions=gameOption2 lang_English
