[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Dissolution of Eternity
Icon={{ icon_dir }}/quake-doe.png
Exec={{ qss_dir }}/quakespasm-spiked-linux64 -basedir {{ base_dir }} -game rogue
