[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=FreeSpace 2
Icon={{ icon_dir }}/fs2.png
Path={{ home }}/.FS2
Exec={{ home }}/.local/fs2_open/fs2_open_22_2_0_x64.AppImage -soft_particles -enable_shadows -dualscanlines -targetinfo -rearm_timer -3dwarp -warp_flash -ship_choice_3d -weapon_choice_3d -aa -ambient_factor 80 -spec_point 0.3 -spec_static 1.2 -spec_tube 0.3 -bloom_intensity 15 -fov 0.6
