[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Quake Brutalist Jam
Icon={{ icon_dir }}/quake.png
Path={{ base_dir }}
Exec={{ qss_dir }}/quakespasm-spiked-linux64 -basedir {{ base_dir }} -game qbj
