[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Cannon Fodder
Icon={{ icon_dir }}/cannon_fodder.png
Path={{ base_dir }}
Exec=dosbox -conf {{ dosbox_conf }} -conf {{ base_dir }}/config/cannon_fodder.conf
