[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Tie Fighter
Icon={{ icon_dir }}/tie_fighter.png
Path={{ base_dir }}
Exec=dosbox -conf {{ dosbox_conf }} -conf {{ base_dir }}/config/tie_fighter.conf
